
.slider-size {
	height: 400px;
}
.carousel {
	width:100%;
	margin:0 auto;
}
.center {
	float: none !important;
	margin: 0 auto !important;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.info {
	box-shadow: 5px 5px 3px 2px #888888;
}

