<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WEME唯觅</title>

    <link href={{ url_for('.static', filename='css/bootstrap.min.css') }} rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={{url_for('.static', filename='css/swiper.min.css')}}>
    <link href={{ url_for('.static', filename='css/post.css') }} rel="stylesheet">

  </head>
  <body>
  	&nbsp;
  	<div class="row info">
  	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
  		
  	<table>
  		<tr><td rowspan='3' width="20%"><div><a href="http://www.weme.space"><img src={{avatar}} height='100' width='100' class='img-circle'></a></div></td> <td width="80%"><div class='text-center'><font color="darkgrey" size="5">{{school}}</font></div></td></tr>
  		<tr><td> <div class='text-center'><font color="darkgrey" size="4">{{department}}</font></div></td></tr>
  		<tr><td> <div class='text-center'><font color="lightgrey" size="3">{{name}}</font></div></td></tr>

  	</table>
  &nbsp;
  </div>
  </div>
  	&nbsp;
    <div class="text-left"><font size="5" color="#3e5d9e"><p style="padding:0px 10px 0px 10px">{{title}}</p></font></div>
<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      {% for img in images %}
      <div class = "swiper-slide" style = "background-image:url({{img}})"></div>
      {% endfor %}
    </div>
      <div class="swiper-pagination"></div>
</div>

<div class="swiper-container gallery-thumbs">
     <div class="swiper-wrapper">
      {% for img in images %}
      <div class = "swiper-slide" style = "background-image:url({{img}})"></div>
      {% endfor %}
    </div>
</div>
&nbsp;
<div class= "text-left"><font size="2"><p style="padding:0px 10px 10px 10px">{{body|replace("\n", "<br />"|safe)}}</p></font></div>
<div><font size="2" color="#3e5d9e"><a href="https://itunes.apple.com/cn/app/weme-wei-mi/id1052455890?ls=1&mt=8"><p style="text-align:right;padding:0px 20px 0px 0px;font-weight:bold">WEME唯觅-只唯寻觅你-去下载 >>></p></a></font></div>
<br />
<script type="text/javascript" src={{url_for('.static', filename='js/jquery.min.js')}}></script>
<script type="text/javascript" src={{url_for('.static', filename='js/bootstrap.min.js')}}></script>
<script type="text/javascript" src={{url_for('.static', filename='js/swiper.min.js')}}></script>
<script>
var galleryTop = new Swiper('.gallery-top', {
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    pagination : '.swiper-pagination',
    spaceBetween: 10,
    loop:true,
    loopedSlides: 5, //looped slides should be the same     
})
var galleryThumbs = new Swiper('.gallery-thumbs', {
    spaceBetween: 10,
    slidesPerView: 4,
    touchRatio: 0.2,
    loop:true,
    loopedSlides: 5, //looped slides should be the same
    slideToClickedSlide: true
});
galleryTop.params.control = galleryThumbs;
galleryThumbs.params.control = galleryTop;

</script>
  </body>
</html>